<!DOCTYPE html>
<html>
  <head>
    <title>mebious - welcome to the wired</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/mebious.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
  </head>
  <body>
    <form action="/posts" method="POST" id="text">
      <%= csrf_tag %>
      <input type="text" name="text" size="32" maxlength="512">
      <button>in_txt</button>
    </form>

    <div id="rss">
      <a href="/rss">rss</a>
    </div>
    
    <div id="posts">
      <% @posts = @posts.to_a.reverse %>
      <% for post in @posts %>
      <p class="post" style="<%= Mebious::stylize post %>"><%= Model::sanitize(Mebious::corrupt(post['text'])) %></p>
      <% end %>
    </div>
  </body>
</html>
